*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: "mukta mahee";
    color:#6c757d;
}
a{
    text-decoration: none;
    transition: all 0.3s;
}
a:hover{
    color:#65c0ba;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Abril fatface";
}
.container{
    width:100%;
    max-width: 1140px;
    margin:0 auto;
}
.container-full{
    width:100%;
    padding: 0 15px;
}
.d-flex{
    display:flex;
}
.align-items-center{
    align-items: center;
}
.space-between{
    justify-content:space-between;
}
.justify-content-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.direction-col{
    flex-direction: column;
}
.relative{
    position: relative;
}
z-2{
    z-index:2;
}
.transition{
    transition: all 0.3s;
}
.padding-section{
    padding:126px 0;
}
.padding-section-bottom{
    padding-bottom:126px;
}
.padding-section-small{
    padding: 63px 0;
}
.padding-section-small-top{
    padding-top:63px;
}
.padding-section-small-bottom{
    padding-bottom:63px;
}
.bg-gray{
    background-color: #fafafa;
    border-top: 1px solid #e0e0e0;
}
.bg-gray2{
    background: #fafafa;
}
.bg-green{
    background: #65c0ba;
}

.header-section{
    text-align: center;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}
.header-section .title{
    margin-bottom: 10px;
    font-size: 32px;
}
.header-section p{
    margin: 0;
}
.header-section.big .title{
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 20px;
    margin-top: 0;
}
.header-section.color-reverse p{
    color:#fff;
}
.italic{
    font-style: italic;
}
.font-weight-200{
    font-weight: 200;
}
.botton{
    border:2px solid #fff;
    border-radius: 4px;
    padding: 16px 30px;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
}
.botton:hover{
    background-color:#fff ;
    color: black;
}
.full-img{
    width: 100%;
    height: auto;
}
.row{
    display:flex;
}
.col-1{
    width:8.33% ;
}
.col-2{
    width:16.66% ;
}
.col-3{
    width:25% ;
}
.col-4{
    width:33.33% ;
}
.col-5{
    width:41.66% ;
}
.col-6{
    width:50% ;
}
.col-7{
    width:58.33% ;
}
.col-8{
    width:66.66% ;
}
.col-9{
    width:75% ;
}
.col-10{
    width:83.33% ;
}
.col-11{
    width:91.66% ;
}
.col-12{
    width:100% ;
}
.mt0{
    margin-top: 0;
}
.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.mb0{
    margin-bottom: 0;
}
.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.gap5{
    gap:5px;
}
.gap10{
    gap:10px;
}
.gap15{
    gap:15px;
}
.gap20{
    gap:20px;
}
.pt5{
    padding-top: 5px;
}
.pt10{
    padding-top: 10px;
}
.pt15{
    padding-top: 15px;
}
.pt20{
    padding-top: 20px;
}
.pt30{
    padding-top: 30px;
}
.pb5{
    padding-bottom: 5px;
}
.pb10{
    padding-bottom: 10px;
}
.pb15{
    padding-bottom: 15px;
}
.pb20{
    padding-bottom: 20px;
}
.pb30{
    padding-bottom: 30px;
}
p{
line-height: 30px;
font-size: 18px;
font-weight: 200;
}
h1, h2, h3 {
    color: #000;
}
.h2{
    font-size: 32px;
}
[class^="col-"]{
    padding-left:15px ;
    padding-right:15px ;
}
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top:20px;
    z-index: 2;
}
.header .header__logo a{
    color: #fff;
    font-size: 30px;
}
.header .header__menu{
    width: 40px;
    height: 25px;
    cursor: pointer;
}
.header .header__menu span{
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;   
}
.hero{
    background-image: url(https://preview.colorlib.com/theme/hepta/images/hero_1.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    min-height: 700px;
    width: 100%;
    position: relative;
}
.hero:before{
    content:" ";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    background: rgba(0,0,0,0.3);
}
.hero .hero__content{
    height: 100vh;
    min-height: 700px;
    color: #fff;
}
.hero .hero__content h1{
    font-size: 80px;
    color: #fff;
}
.hero .hero__content p{
    font-size: 30px;
}
.hero .hero__content p a{
    display: inline-block;
    border-bottom:2px solid rgba(255,255,255,0.114);
    color: rgba(255,255,255,0.506);
}
.hero .hero__content p a:hover{
    color:#fff;
    border-color: #fff;
}
.hero .scroll-down{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    bottom: 10px;
}
.hero .scroll-down svg{
    transform: rotate(90deg);
    width: 13px;
    height: 15px;
    fill: #fff;
}
.hero .scroll-down span{
    display: block;
    text-transform: uppercase;
    font-size: 13px;
}
.wellcome .wellcome__video .icon{
    width: 50px;
    height: 50px;
    border: 2px solid #65c0ba;
    border-radius: 50%;
    position: relative;
}
.wellcome .wellcome__video:hover .icon{
    border-color: #000;
}
.wellcome .wellcome__video .icon svg{
    fill: #65c0ba;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 17px;
    height: 17px;
}
.wellcome .wellcome__video:hover .icon svg{
    fill:#000;
}
.wellcome .wellcome__video .text{
    font-size: 20px;
    color:#65c0ba;
    text-transform: uppercase;
}
.experience img{
   width: 70px;
   height: auto;
}
.international .international__slider{
    position: relative;
}
.international .international__slider .arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 45px;
    color: #000;
    cursor: pointer;
}
.international .international__slider .arrow:hover{
    color:#6c757d
}
.international .international__slider .arrow.prev{
    left: -70px;
}
.international .international__slider .arrow.next{
    right: -70px;
}
.international .international__slider .navigation{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}
.international .international__slider .navigation span{
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
}
.international .international__slider .navigation span.active{
    background: transparent;
}
.blog:before{
    content: " ";
    position:absolute;
    top:-350px;
    left:0;
    height:400px;
    width: 100%;
    background-color: #65c0ba;
    z-index: -1;
    transform: skewY(-4deg);
}
.blog .blog__item .bottom{
    background-color: #fff;
    padding-left: 25px;
    padding-right: 25px;
}
.blog .blog__item .bottom .date{
    text-transform: uppercase;
    color:#ced4da;
    letter-spacing: 2px;
    margin: 0;
}
.blog .blog__item .bottom .title a{
    color:#000;
}
.blog .blog__item .bottom .title a:hover{
    color:#65c0ba;
}
.testimonial .testimonial__item img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.testimonial .testimonial__item .caption{
    color: #000;
    font-size: 20px;
}
.testimonial .testimonial__item .author{
    position: relative;
    padding-right: 7px;
}
.testimonial .testimonial__item .author:before{
    content:"—";
}
.destination .destination__item .bottom a{
    color:#000;
}
.destination .destination__item .bottom .rating i{
    color:#65c0ba;
    font-size: 12px;
}
.destination .destination__item .bottom .reviews{
    color:#ccc;
}
.footer{
    background-color: #1a1a1a;
}
.footer .title{
    color: #fff;
}
.footer ul li{
    padding: 5px 0;
    font-size: 18px;
}
.footer ul li a{
    color:rgba(255,255,255,0.7);
}
.footer ul li a:hover{
    color: #fff;
}
.footer ul li .entity{
    color: #fff;
    display: block;
}
.footer .subscribe .input input{
    background: transparent;
    border: none;
    outline: 0;
    border-bottom:1px solid rgba(255,255,255,0.2) ;
    color: #fff;
    width: 100%;
    display: block;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: mukta mahee;
    padding-right: 45px;
    transition: all 0.3s;
}
.footer .subscribe .input input:focus{
    border-bottom:1px solid rgba(255,255,255,1);
}
.footer .subscribe button{
    background: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: #fff;
    font-size: 16px;
}
.footer .footer-bottom{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 48px;
}
.footer .footer-bottom p{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0;
}
.footer .footer-bottom p a{
    color:rgba(255, 255, 255, 0.7)
}
.footer .footer-bottom .social a{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}